/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


.navbar {
  background-color: #418e9d;
}

.navbar__link {
  color: white;
}

.navbar__brand {
  color: white;
}

.navbar__link:hover {
  color: white;
  opacity: 0.5;
}

.navbar__brand:hover {
  color: white;
  opacity: 0.5;
}

.footer {
  background-color: #418e9d;
}

.footer a:hover {
  color: white;
  opacity: 0.5;
}

.exponent-references {
  font-size: 14px;
  font-weight: bold;
}

.custom-table {
  margin-bottom: 20px;
}

:root {
  --ifm-color-primary: #418e9d;
  --ifm-color-primary-dark: #2b1d0e;
  --ifm-color-primary-darker: #2b1d0e;
  --ifm-color-primary-darkest: #2b1d0e;
  --ifm-color-primary-light: #2b1d0e;
  --ifm-color-primary-lighter: #2b1d0e;
  --ifm-color-primary-lightest: #2b1d0e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}